/trivenv
/.trivenv
/__pycache__
/.vscode
/data/*.csv
/output/*
/layouts/*
/old-layouts
session_settings.json
todo
fingermaps/kathy
.tmp*
/corpus/shai.txt
/corpus/*.json
trialyzer.code-workspace
/cmini-layouts